.venv/
__pycache__/
*.pyc
negocios_sin_web.csv
negocios_sin_web_api.csv
negocios_revisados_api.csv
negocios_sin_web_api.txt
hoteles_sin_web.csv
hoteles_revisados.csv
hoteles_sin_web.txt
hoteles_sin_web_api.csv
hoteles_revisados_api.csv
hoteles_sin_web_api.txt
places_cache.json
cache/
